@import "../settings/index";
@import "../tools/index";

@include block('class-name', 'component') {
  @extend %layer-flex-row;
  align-items: center;
  position: relative;
  white-space: nowrap;
  user-select: none;

  @include element('icon') {
    width: 20px;
    height: 20px;
    background: no-repeat center center/contain;

    $icon-path: '/resources/ui/living-objects/icons';

    .mystic & {
      background-image: url("#{$icon-path}/mystic.svg");
    }

    .animal & {
      background-image: url("#{$icon-path}/animal.png");
    }

    .offensive_animal & {
      background-image: url("#{$icon-path}/offensive_animal.svg");
    }
  }

  @include element('text') {
    text-transform: capitalize;
    position: relative;
    top: 2px;
    margin-left: 2px;
    max-width: 65px;

    @include overflow-ellipsis;

    .mystic & {
      color: #9b113d;
    }

    .animal & {
      color: #209839;
    }
  }
}
