{
  "env": {
    "test": {
      "presets": [
        ["es2015"],
        ["stage-2"]
      ],
      "plugins": [
        "transform-runtime",
        ["module-resolver", {
          "root": ["./src"],
          "alias": {
            "~components": "components",
            "~styles": "styles"
          }
        }]
      ]
    },
    "es5": {
      "presets": [
        ["es2015",  {"modules": false}],
        ["stage-2"]
      ],
      "plugins": ["./build/babel-transform-styles-paths.js"]
    },
    "development": {
      "presets": [
        ["es2015",  {"modules": false}],
        ["stage-2"]
      ],
      "plugins": [
        ["transform-class-properties", { "spec": true }]
      ]
    },
    "production": {
      "presets": [
        ["es2015",  {"modules": false}],
        ["stage-2"]
      ],
      "plugins": [
        ["transform-class-properties", { "spec": true }]
      ]
    }
  }
}
