@import "../settings/index";
@import "../tools/index";

.living-object-label {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  will-change: transform;
  pointer-events: none;
  text-shadow: 0 0 2px transparentize(black, .25);

  &.own {
    color: white;
  }

  &.enemy {
    color: #ec1300;
  }
}
