// app colors
$primary-color: #ff5644   !default;
$secondary-color: #424b5c !default;
$accent-color: #FBD91A    !default;
$error-color: #ff3928     !default;
$success-color: #00c853   !default;
$info-color: #00bcd4      !default;
$warning-color: #ffc107   !default;

// text colors
$primary-text: #000       !default;
$secondary-text: #878b92  !default;
$link-text: #275a95       !default;
$border-color: #ccc       !default;

// gray colors
$gray-light-color: #f8f8f8;
$gray-color: #d5d5d5;
$gray-dark-color: #9e9e9e;

$themes: (
  primary: $primary-color,
  secondary: $secondary-color,
  accent: $accent-color,
  error: $error-color,
  success: $success-color,
  info: $info-color,
  warning: $warning-color,
  gray: $gray-color,
  gray-light: $gray-light-color,
  gray-dark: $gray-dark-color,
  white: white,
  black: black
);

$health-bar-foreground: #ff5644;
$health-bar-background: lighten($health-bar-foreground, 30%);
$energy-bar-foreground: #2fa1d6;
$energy-bar-background: lighten($energy-bar-foreground, 30%);
